.edit-profile__wrap, .bill__wrap{
  width: 100%;
  float: left;
  padding: 0 25px 50px;
  box-sizing: border-box;
  .green-btn, .white-btn{
    float: left;
    min-width: 150px;
    margin-right: 15px;
  }
}

.edit-profile__wrap_info-row, .bill__wrap_info-row{
  margin-bottom: 20px;
  input{
    text-align: left;
  }

  .green-btn, .upload+label{
    float: left;
    min-width: 161px;
    width: 161px;
    margin: 0;
  }
  .avatar{
    float: left;
    width: 28px;
    height: 28px;
    margin-left: 30px;
    position: relative;
    margin-top: 8px;
    img{
      size: 100%;
    }
    .reset-avatar{
      position: absolute;
      right: -18px;
      top: -11px;
      margin: 0;
      width: auto;
      cursor: pointer;
      line-height: normal;
      i{
        color: #ea162f;
      }
    }
  }
  .billing-wrap__balans_extend-item{
    padding-top: 11px;
    box-sizing: border-box;
  }
  p{
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
    color: #333;
    font-size: 12px;
    font-weight: 300;
    padding-left: 193px;
    box-sizing: border-box;
  }
}


.used-field{
  min-width: 190px;
  height: 40px;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #333;
}
