

.steps-wrap{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  width: 100%;
  float: left;
  position: relative;
  padding: 35px;
  box-sizing: border-box;
  text-align: center;

}

.steps-wrap__center-content{
  margin: 0 auto;
  width: 290px;
  float: none;
  display: inline-block;
  position: relative;
  text-align: center;
  .app-naiming{
    width: 243px;
    margin: 0 auto 40px;
    float: none;
    display: inline-block;
    position: relative;
    &:after{
      content: "";
      height: 8px;
      width: 1px;
      background-color: #dbdbdb;
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
    }
    &:before{
      content: "";
      height: 8px;
      width: 1px;
      background-color: #dbdbdb;
      position: absolute;
      left: -1px;
      bottom: 0;
      display: inline-block;
    }
  }
  input{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    float: left;
    display: inline-block;
    position: relative;

  }
}

.steps-wrap__center-content-thumb{
  margin: 50px 0;
  float: left;
  display: inline-block;
  width: 100%;
  img{
    width: 122px;
    height: 122px;
    object-fit: contain;
  }
  &:before{
    content: "";
    background-image: url("../img/icons/long-arrows.png");
    width: 121px;
    height: 51px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -174px;
    top: 34%;

  }
  &:after{
    content: "";
    background-image: url("../img/icons/long-arrows.png");
    width: 121px;
    height: 51px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -174px;
    top: 34%;

  }
}


.main-steps{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  padding: 20px 10px;
  box-sizing: border-box;
}

.main-steps__item{
  float: left;
  position: relative;
  text-align: center;

  font-size: 14px;
  padding: 0 28px;
  box-sizing: border-box;
  line-height: 20px;
  &:after{
    content: "";
    background-image: url("../img/icons/small-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 13px;
    display: block;
    position: absolute;
    right: 0;
    margin-top: -25px;
  }
  &:last-of-type{
    &:after{display: none;}
  }
  span, p{
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
    font-weight: 600;
    color: #ccc;
  }
  p{
    font-weight: 300;
    margin: 0 auto;
    width: auto;
    display: inline-block;
    float: none;
  }
}

.main-steps__item.active{
    color: #333;

  span,p{
    color: #333;
  }
  p:before{
    content: "";
    background-color: $green;
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -21px;
  }
}

.toogle-content, .navigation__content{
  display: none;
}
