.layer-row{
  width: 100%;
  float: left;
  position: relative;
  padding: 25px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  text-align: center;
  &:first-of-type{
    padding-bottom: 0;
  }
  textarea{
    float: left;
    width: 161px;
    height: 83px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  .green-btn{
    float: left;
  }
  .add-btn{
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .toogle-content{
    padding: 0;
    box-sizing: border-box;
    text-align: left;
  }
  p{
    width: 100%;
    float: left;
    text-align: left;
    color: #333;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 0;
    b{
      font-weight: 700;
    }
    &:last-of-type{
      margin-top: 0;
    }
  }
  input{
    text-align: left;
    float: left;
    margin-bottom: 20px;
    &:hover{
      color: #333;
    }
  }
  .long-input{
    width: 100%;
    margin-bottom: 20px;
  }
  &:last-of-type{
    border-bottom: none;
    text-align: center;
    .green-btn{
      margin: 10px auto 0;
      float: none;
    }
  }
  .billing-wrap__balans_extend{
    padding: 0;
  }
  .custom-select{
    float: left;
    margin: 0;
  }
}


.layer-item{
  width: 107px;
  height: 107px;
  float: left;
  position: relative;
  text-align: center;
  border-radius: 6px;
  @include breakpoint(max-width 770px){
    width: 82px;
    height: 82px;
  }
  img{
    transform: translateY(60%);
    @include breakpoint(max-width 770px){
      transform: translateY(35%);
    }
  }
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1;
    display: none;
    cursor: pointer;
    background-image: url("../img/icons/white-close.png");
    size: 11px;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

.layer-item_grid{
  margin-right: 34px;
  text-align: center;
  margin-bottom: 55px;
  cursor: pointer;
  &:hover .close{
    display: block;
  }
  p{
    position: absolute;
    width: 100%;
    line-height: 14px;
    text-align: center;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    bottom: -40px;
    display: inline-block;
    left: 0;
    vertical-align: text-top;
    height: 30px;
  }
  &:nth-of-type(4){
    margin-right: 0;
  }
  &:nth-of-type(8){
    margin-right: 0;
  }
  &:nth-of-type(12){
    margin-right: 0;
  }
  &:nth-of-type(16){
    margin-right: 0;
  }
  &:nth-of-type(20){
    margin-right: 0;
  }
  &:nth-of-type(24){
    margin-right: 0;
  }
}


.layer-row__title, .layer-row__title_small{
  width: 100%;
  float: left;
  position: relative;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.layer-row__title_small{
  font-size: 14px;
  font-weight: 300;
}
.layer-row__edit{
  float: left;
  position: relative;
  display: inline-block;
  margin-left: 15px;
      margin-top: 10px;
  &:hover i{
    color: $green;
  }
  i{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
  }
}


.layer-item__name{
  float: left;
  position: relative;
  min-width: 193px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  margin-left: 20px;
}


.redactor-wrap{
  width: 100%;
  height: 207px;
  float: left;
}


.category-wrap{
  width: 100%;
  float: left;
  position: relative;
  p{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin: 15px 0;
    a{
      color: $green;
    }
  }
  button{
    float: left;
  }
  .white-btn{
    margin-left: 30px;
  }
}


.soc-row{
  width: 100%;
  float: left;
  position: relative;
  text-align: left;
  i{
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
  }
  .white-btn{
    margin-left: 12px;
    margin-bottom: 12px;
  }
  .closes{
    margin-left: 12px;
    position: relative;
    top: 15px;
    cursor: pointer;
    @include breakpoint(max-width 770px){
      margin-left: 8px;
    }
  }
}

.left-btn{
  float: left;
  margin-top: 15px;
}


.images-wrap{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  .green-btn{
    margin-top: 50px;
    float: none;
  }
}

.images-wrap__item{
  width: 106px;
  height: 180px;
  position: relative;
  margin-right: 35px;
  float: left;
  position: relative;
  img{
    size: 100%;
  }
  .closes{
    position: absolute;
    bottom: -20px;
    left: 50%;
  }
  &:last-of-type{
    margin-right: 0;
  }
  @include breakpoint(max-width 770px){
    width: 100px;
    margin-right: 10px;
  }
}



.contacts-wrap{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  .green-btn{
    float: none;
    margin-top: 25px;
  }
}

.contacts-wrap__title{
  width: 100%;
  float: left;
  position: relative;
  background-color: #e8e8e8;
  text-align: left;
  span{
    float: left;
    position: relative;
    color: #333;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    min-width: 247px;
  }
  @include breakpoint(max-width 770px){
    span{
      min-width: 190px;
    }
  }
}


.contacts-wrap__item{
  width: 100%;
  float: left;
  position: relative;
  padding: 15px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  i{
    float: left;
    position: relative;
    width: 45px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
  }
  .white-btn{
    margin: 0;
    min-width: 200px;
    &:first-of-type{
      margin-right: 50px;
    }
  }
  .closes{
    margin-left: 10px;
    margin-top: 15px;
  }
  @include breakpoint(max-width 770px){
    .white-btn{
      width: 170px;
      min-width: initial;
      &:first-of-type{
        margin-right: 20px;
      }
    }
  }
}

.map-setting__row{
  width: 100%;
  float: left;
  .green-btn{
    margin-left: 15px;
    min-width: 85px;
  }
}
.map-setting{
  float: left;
  display: inline-block;
  margin-right: 45px;
  width: 120px;
  &:last-of-type{
    margin-right: 0;
  }
  .white-btn{
    width: 120px;
    margin: 0;
  }
  .custom-select{
    width: 60px;
    margin: 0;
  }
  @include breakpoint(max-width 770px){
    width: 151px;
    margin-right: 20px;
    &:last-of-type{
      margin-right: 0;
      width: 70px;
    }
  }
}

.icons__wraps{
  width: 237px;
  float: left;
  position: relative;
  padding: 0 15px 0;
  box-sizing: border-box;
  .owl-nav{
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -28px;
    z-index: -1;
  }
  .owl-prev{
    width: 11px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: relative;
    background-image: url("../img/icons/arrow.png");
  }
  .owl-next{
    width: 11px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    position: relative;
    background-image: url("../img/icons/arrow.png");
    transform: rotate(180deg);
  }

}

.icons__wraps_item{
  width: 100%;
  height: 38px;
  float: left;
  cursor: pointer;
  z-index: 999999;
  position: relative;
  img{
    width: 39px;
    height: 38px;
    float: none;
    object-fit: contain;
  }
}

.category-wrap__item{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.category-wrap__item_title{
  width: 100%;
  float: left;
  position: relative;
  background-color: #f4f4f4;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
  span{
    float: left;
    text-align: left;
    color: #333;
  font-size: 12px;
  font-weight: 600;
  }
  .edit-category{
    float: left;
    color: #707070;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -3px;
    margin-left: 10px;
  }
  .closes{
    float: none;
    display: inline-block;
  }
  a{
    color: #00aeaf;
    display: inline-block;
    margin-right: 10px;
    float: none;
    font-size: 12px;
    font-weight: 600;
  }
}

.category-wrap__item_row{
  display: none;
  width: 100%;
  float: left;
  position: relative;
  .item{
    width: 100%;
    float: left;
    position: relative;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    .thumb{
      float: left;
      width: 32px;
      height: 32px;
    }
    .closes{
      float: none;
      display: inline-block;
      position: relative;
      top: 8px;
    }
    .edit-category{
      display: inline-block;
      float: none;
      color: #707070;
      font-size: 15px;
      font-weight: 400;
      position: relative;
      top: 6px;
      margin-left: 10px;
    }
    span{
      float: left;
      position: relative;
      text-align: left;
      margin-left: 15px;
      color: #333;
      font-size: 12px;
      font-weight: 300;
      line-height: 40px;
      @include breakpoint(max-width 770px){
        margin-left: 9px;
      }
    }
  }
}




.new-pages__nav{
  width: 100%;
  float: left;
  display: block;
  background-color: #fff;
  height: initial;
  margin-bottom: 25px;
  ul{
    display: block;
    float: left;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    li{
      float: left;
      display: inline-block;
      width: auto;
      margin: 0;
      a{
        display: inline-block;
        padding: 0 10px 20px;
        box-sizing: border-box;
        span{
          color: #333;
          width: 100%;
          float: left;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
        }
        @include breakpoint(max-width 770px){
          padding-left: 3px;
          padding-right: 3px;
        }
      }

    }
  }
  .new-pages_active{
    border-bottom: 3px solid $green;
  }

}


.new-pages__content{
  width: 100%;
  float: left;
  position: relative;
  .current{
    display: block;
  }
}


.new-pages__content_item{
  width: 100%;
  float: left;
  position: relative;
  display: none;
}
