.table-wrap{
  width: 100%;
  float: left;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 50px;
  overflow: hidden;
  @include breakpoint(max-width 770px){
    overflow-x: scroll;
  }
}

.table-wrap__title, .table-wrap-agent{
  width: 100%;
  float: left;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  span, a{
    position: relative;
    text-align: left;
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 48px;
  }
}

.table-wrap__row{
  width: 100%;
  float: left;
  border-bottom: 1px solid #e6e6e6;
  span, a{
    position: relative;
    text-align: left;
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
  }
  a:hover{
    color: $green;
  }
  .status{
    color: $green;
  }
  .status-activation{
    color: $green;
  }
}

.table-wrap__title, .table-wrap__row, .table-wrap-agent{
  .date{
    min-width: 185px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .name{
    min-width: 125px;
  }
  .mail{
    min-width: 160px;
  }
  .phone{
    min-width: 145px;
  }
  .status{
    min-width: 140px;
  }
  .ammount{
    min-width: 89px;
  }
  .number{
    min-width: 30px;
    text-align: center;
  }
  .status-activation{
    min-width: 110px;
  }
  .thumb{
    min-width: 70px;
    img{
      width: 35px;
      height: 35px;
    }
  }
}

.table-wrap-agent{
  .name{
    min-width: 165px;
  }
  .mail{
    min-width: 130px;
  }
  .phone{
    min-width: 125px;
  }
  .status{
    min-width: 80px;
  }
  .worked-date{
    min-width: 95px;
  }
  .closes{
    margin-top: 18px;
    margin-left: 15px;
  }
}
