.contents{
  width: calc(100% - 241px);
  float: left;
  position: relative;
  padding: 30px 15px 30px 30px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  margin-top: 2px;
}
.content-wrap{
  width: 100%;
  float: left;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.title-panel{
  width: 100%;
  float: left;
  background-color: $green;
  padding: 20px 25px;
  box-sizing: border-box;
  p{
    margin: 0;
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
}


.green-btn{
  min-width: 208px;
  height: 41px;
  background-color: #00aeaf;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #fff;
  &:hover{
    background-color: #fff;
    border: 1px solid $green;
    color: $green;
  }
}
