#modal_form{
  position: fixed;
	left: calc(50% - (698px/2));
  // top: calc(40% - (718px/2));
  top: 10%;
	display: none;
	opacity: 0;
	z-index: 80;
  width: 698px;
  height: 718px;
  background-color: #fff;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  text-align: center;
  .layer-row__title{
    margin: 30px 0 10px;
  }
  .green-btn{
    margin-left: 27%;
    margin-right: 20px;
    float: left;
  }
  .white-btn{
    float: left;
  }
  h2{
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    // line-height: 50px;
    color: #000;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.product-pic{
  float: left;
  width: 301px;
  height: 205px;
  position: relative;
  img{
    size: 100%;
  }
}


.product-info{
  width: calc(100% - 301px);
  float: left;
  span{
    float: left;
    width: 116px;
    text-align: right;
    color: #333;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    margin-right: 10px;
  }
}


.product-info__row{
  width: 100%;
  float: left;
  margin-bottom: 10px;
  small{
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 0 11px
  }
  &:last-of-type{
    .custom-select{
      width: 188px;
    }
  }
  .custom-select{
    width: 75px;
    margin: 0;
    float: left;
  }
  .small-input{
    width: 75px!important;
    min-width: initial;
  }
  .white-btn{
    float: left!important;
    text-align: left;
    margin: 0!important;
  }
}


.add-photo{
  position: absolute;
  width: 22px;
  height: 20px;
  display: inline-block;
  margin-top: -30px;
  left: calc(50% - (22px/2));
  cursor: pointer;
  .upload+label{
    background-image: url("../img/icons/upload.png");
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin: 0;
    background-color: transparent;
  }
}


.product-redactor{
  height: 256px;
  width: 100%;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  display: inline-block;
}


#overlay {
	z-index:70;
	position:fixed;
	background-color: rgba(124, 124, 124, 0.4);
	width:100%;
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

.modal_close {
	width: 10px;
	height: 10px;
	position: absolute;
  top: 42px;
  right: 35px;
	cursor: pointer;
	display: block;
  &:after{
    content: "";
    display: inline-block;
    width: 15px;
    position: absolute;
    height: 2px;
    background-color: #000;
    -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   cursor: pointer;
  }
  &:before{
    content: "";
    display: inline-block;
    width: 15px;
    position: absolute;
    height: 2px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
    cursor: pointer;
  }
}
